const firebaseConfig = {
    apiKey: "...",
    authDomain: "<PROJECT_ID>.firebaseapp.com",
    projectId: "<PROJECT_ID>",
    storageBucket: "<PROJECT_ID>.appspot.com",
    messagingSenderId: "...",
    appId: "...",
    measurementId: "..."
};

const vapidKey = '...';
